@font-face {
    font-family: 'BebasNeueRegular';
    src: url('../fonts/BebasNeue-webfont.eot');
    src: url('../fonts/BebasNeue-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/BebasNeue-webfont.woff') format('woff'),
         url('../fonts/BebasNeue-webfont.ttf') format('truetype'),
         url('../fonts/BebasNeue-webfont.svg#BebasNeueRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

h1 {
	font-family:BebasNeueRegular,Arial;
	text-transform:uppercase;
	//text-shadow: 2px 2px #666;
	font-size:500%;
	color:#ed1849;
}

h4{
	font-family:BebasNeueRegular,Arial;
	color:#ed1849;
	font-size: 200%;
	//text-shadow: 2px 2px #666;
}

div.board {
	
	margin-top: 20px;
	margin-bottom: 20px;
	
	background-color:#ffe800;

	box-shadow: 10px 10px 5px #888888;
	padding :30px;
	//border : 2px solid black;
	
}
/*
div.pin {


	background-color: #ffe800;
	padding : 20px;
}*/